:root {
    --primary-color: #3498db; 
    --secondary-color: #2ecc71; 
    --accent-color: lightpink;
    --background-color: #ecf0f1;
    --text-color: #34495e; 
  }

#footer{
    background-color: var(--accent-color);
}  
#h1{
    color: var(--text-color);
    padding: 3rem;
    text-align: center;
    background-color: var(--accent-color);
}
#websitemenu{
    display: flex; 
    list-style: none ; 
    padding: 1rem;
     
}
#link1{
    color: var(--text-color);
    padding: 1rem;
    box-shadow: 5px 5px 4px grey;
    top: 10px;
    position: relative;
    transform: top 2s ease;
    transition: 2s ease ,transform 2s 
}
#link1:hover{
    background-color:  var(--accent-color);
    color: black;
    top: 0;
    transform: scale(1);
    transition:2s ease transform 2s ease;
}
    
 
    

#link2{
    color: var(--text-color);
    padding: 1rem;
    box-shadow: 5px 5px 4px grey;
    top: 10px;
    position: relative;
    transform: top 2s ease;
    transition:  2s ease ,transform 2s;
   
   
}
#link2:hover{
    background-color:  var(--accent-color);
    color: black;
    top: 0;
    transform: scale(1);
    transition:  2s ease transform 2s ease;
}
#link3{
    color: var(--text-color);
    padding: 1rem;
    box-shadow: 5px 5px 4px grey;
    top: 10px;
    position: relative;
    transform: top 2s ease;
    transition:  2s ease ,transform 2s ;
    
    
}
#link3:hover{
    background-color:  var(--accent-color);
    color: black;
    top: 0;
    transform: scale(1);
    transition:  2s ease transform 2s ease ;
}

#link4{
    color: var(--text-color);
    padding: 1rem;
    box-shadow: 5px 5px 4px grey;
    top: 10px;
    position: relative;
    transform: top 2s ease;
    transition: 2s ease,transform 2s ease;
   
    
  
}
#link4:hover{
    background-color:  var(--accent-color);
    color: black;
    top: 0;
    transform: scale(1);
    transition: 2s ease transform 2s ease;
}
#websitemenu a:hover {
    background-color:  var(--accent-color);
    color: black;
   
   
  }


.h{
    color: var(--text-color);
    padding: 1.5rem;
    
}
#p1{
    background-color: #ffff;
    padding: 0.5rem;
    transition: 2s ease;
}
#p1:hover{
    background-color: var(--accent-color);
    transition: 2s ease;
}
#p2{
    background-color: #ffff;
    padding: 0.5rem;
    transition: 2s ease;
}
#p2:hover{
    background-color: var(--accent-color);
    transition: 2s ease;
}
@media screen and (max-width:600px) {
    #websitemanu{
       flex-direction: row
        
    }  
} 
