:root {
    --primary-color: #3498db; 
    --secondary-color: #2ecc71; 
    --accent-color: #e74c3c;
    --background-color: #ecf0f1;
    --text-color: #34495e; 
  }

#footer{
    background-color: var(--accent-color);
}  
#nav{
    display: flex;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 0.5rem;
    box-shadow: #34495e;
    

}
#nav:hover{
    transform: scale(1.1); 
    box-shadow: 0 0 15px #34495e(0, 0, 0, 0.3);
    transition: up 1s ,transform 1s , box-shadow 2s ease;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.h{
    text-align: center;
    color: var(--text-color);
    padding: 2rem;
    
}


